.java img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.py img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.web img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.testing img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}